@model Biketravelby.Int.Core.Ads

@{
    ViewBag.Title = "Удаление рекламной компании";
}

<h2>Удалить рекламную компанию</h2>

<h3>Вы действительно хотите удалить эту рекламную компанию?</h3>
<div>

    <table class="table table-bordered table-ads">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>

            <td>
                @Html.DisplayFor(model => model.Start)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Finish)
            </th>

            <td>
                @Html.DisplayFor(model => model.Finish)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <td>
                @Html.DisplayFor(model => model.Price)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>

            <td>
                @Html.DisplayFor(model => model.Comment)
            </td>
        </tr>

    </table>
  

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color form-ads">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            @Html.ActionLink("Отмена", "Index", new { area = "" }, new { @class = "btn btn-default" })
        </div>
    }
    
</div>
