@model Biketravelby.Int.Core.Ads

@{
    ViewBag.Title = "Детали рекламной компании";
}

<h2>Детали рекламной компании</h2>

<div>

    <table class="table table-bordered table-ads">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>

            <td>
                @Html.DisplayFor(model => model.Start)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Finish)
            </th>

            <td>
                @Html.DisplayFor(model => model.Finish)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <td>
                @Html.DisplayFor(model => model.Price)
            </td>

        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>

            <td>
                @Html.DisplayFor(model => model.Comment)
            </td>
        </tr>

    </table>
</div>

<div class="form-ads">
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.AdsID }, new { @class = "btn btn-success" })
        @Html.ActionLink("Вернуться к списку", "Index", new { area = "" }, new { @class = "btn btn-default" })
    </p>
</div>
