@model IEnumerable<Biketravelby.Int.Core.Ads>

@{
    ViewBag.Title = "Реклама";
}

<h2>Рекламные компании</h2>

<p>
    @Html.ActionLink("Создать новую рекламную компанию", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title, "Yfp")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.AdsID }) |
            @Html.ActionLink("Детали", "Details", new { id=item.AdsID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.AdsID })
        </td>
    </tr>
}

</table>
